<!DOCTYPE html>

<html>

   <head>
      
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
        <div class="header">
          <h1>Is your URL toooooo long?</h1>
          <h2>Make it shorter! </h2>
     </div>    
        <div class="container">       
          
          <h3>Paste the URL to be shortened </h3>
        <form action="/api/shorturl/new" method="POST">
          <input id="url_input" type="url" name="url" placeholder="Enter your link here" value="">
          <button type="submit" class="btn btn-primary">Shorten it!</button>
        </form>  
          <div id="newURL">
            <h3>Shortern URL: </h3>
            <h3><%= foundNumber%></h3>
            <h2><%= foundUrl%></h3>
          </div>
      </div>
      <div class="footer">
        <p>
          by <a href="https://codepen.io/eriko87/full/eqNveW">Eriko Dott</a>
        </p>
      </div>
   </body>
</html>
